<div
  #selectDOM
  class="ngx-select"
  [ngClass]="{
    'ngx-select--multiple': isMultiple,
    'ngx-select--open': isOpen,
    'ngx-select--loading': isLoading,
    'ngx-select--dropdown-up': dropdownDirection === 'up'
  }">
  <div class="ngx-select__control" (click)="focus()">
    <span *ngFor="let item of selectedOptions; let i = index" class="ngx-select__tag">
      <span class="ngx-select__tag-remove" (click)="removeOption(i)"></span>
      {{item[labelField]}}
    </span>

    <div *ngIf="!isMultiple && selectedOption" class="ngx-select__value">
      {{selectedOption[labelField]}}
    </div>

    <div *ngIf="placeholder && (!inputValue || inputValue === '') && !selectedOption && (!selectedOptions || selectedOptions.length === 0)" class="ngx-select__placeholder">
      {{placeholder}}
    </div>

    <input
      #inputDOM
      class="ngx-select__input"
      type="text"
      [(ngModel)]="inputValue"
      [style.width.px]="inputWidth"
      (keydown.tab)="close()"
      (keydown.shift.tab)="close()"
      (keydown.arrowup)="highlightPrevOption()"
      (keydown.arrowdown)="highlightNextOption()"
      (keydown.enter)="onEnter()"
      (keydown.backspace)="onBackspace()"
      (keydown.escape)="close()"
      (ngModelChange)="onInputChange($event)">
      <div #inputFakeDOM class="ngx-select__input-fake">{{inputValue}}</div>

      <div class="ngx-select__loader"></div>
  </div>

  <div class="ngx-select__dropdown">
    <div
      *ngFor="let option of filteredOptions; let i = index"
      class="ngx-select__option"
      [ngClass]="{'ngx-select__option--selected': model === option[valueField] || (model && model[labelField] === option[labelField]), 'ngx-select__option--highlighted': highlightedOptionIndex === i}"
      (click)="selectOption(option)"
      (mouseenter)="highlightOption(i)">
      {{option[labelField]}}
    </div>

    <div
      *ngIf="!allowAdd && (!filteredOptions || filteredOptions.length === 0)"
      class="ngx-select__option ngx-select__option--no-result">
      {{noFilterResultsMsg}}
    </div>

    <div
      *ngIf="allowAdd && inputValue && (!filteredOptions || filteredOptions.length === 0)"
      class="ngx-select__option ngx-select__option--add-new"
      (click)="createOption()">
      {{addOptionMessage}}
    </div>
  </div>
</div>
