<div
  #selectDOM
  class="ngx-select"
  [ngClass]="{
    'ngx-select--single': !isMultiple,
    'ngx-select--multiple': isMultiple,
    'ngx-select--open': isOpen,
    'ngx-select--loading': isLoading,
    'ngx-select--dropdown-up': dropdownDirection === 'up'
  }">
  <div class="ngx-select__control" (click)="focus()">
    <span *ngFor="let item of selectedOptions; let i = index" class="ngx-select__tag">
      <span class="ngx-select__tag-remove" (click)="removeOption(i)"></span>
      {{item[labelField]}}
    </span>

    <div *ngIf="!isMultiple && selectedOption" class="ngx-select__value">
      {{selectedOption[labelField]}}
    </div>

    <div *ngIf="placeholder && (!inputValue || inputValue === '') && !selectedOption && (!selectedOptions || selectedOptions.length === 0)" class="ngx-select__placeholder">
      {{placeholder}}
    </div>

    <input
      #inputDOM
      class="ngx-select__input"
      type="text"
      [(ngModel)]="inputValue"
      [style.width.px]="inputWidth"
      (keydown.tab)="close()"
      (keydown.shift.tab)="close()"
      (keydown.arrowup)="highlightPrevOption()"
      (keydown.arrowdown)="highlightNextOption()"
      (keydown.enter)="onEnter()"
      (keydown.backspace)="onBackspace()"
      (keydown.escape)="close()"
      (ngModelChange)="onInputChange($event)">
      <div #inputFakeDOM class="ngx-select__input-fake">{{inputValue}}</div>

      <div class="ngx-select__loader"></div>
  </div>

  <div class="ngx-select__dropdown">
    <div #dropdownDOM class="ngx-select__dropdown-body">
      <div class="ngx-select__dropdown-container">
        <!-- filter input -->
        <input
          #dropdownInputDOM
          class="ngx-select__dropdown-input"
          type="text"
          placeholder="Search"
          [(ngModel)]="inputValue"
          (ngModelChange)="onInputChange($event)">

        <!-- options -->
        <div class="ngx-select__options" [style.maxHeight.px]="dropdownOptionsHeight">
          <div *ngIf="isMobile">
            <div
              *ngFor="let option of availableOptionsMobile; let i = index"
              class="ngx-select__option"
              [ngClass]="{
                'ngx-select__option--selected': option.isSelected,
                'ngx-select__option--highlighted': highlightedOptionIndex === i
              }"
              (click)="option.isSelected ? removeFilteredOption(option.data) : selectOption(option.data)"
              (mouseenter)="highlightOption(i)">
              {{option.data[labelField]}}
              <div
                class="ngx-select__option-mark"
                [ngClass]="{'ngx-select__option-mark--selected': option.isSelected}"></div>
            </div>
          </div>

          <div *ngIf="!isMobile">
            <div
              *ngFor="let option of availableOptions; let i = index"
              class="ngx-select__option"
              [ngClass]="{
                'ngx-select__option--selected': option.isSelected,
                'ngx-select__option--highlighted': highlightedOptionIndex === i
              }"
              (click)="option.isSelected ? removeFilteredOption(option.data) : selectOption(option.data)"
              (mouseenter)="highlightOption(i)">
              {{option.data[labelField]}}
              <div
                class="ngx-select__option-mark"
                [ngClass]="{'ngx-select__option-mark--selected': option.isSelected}"></div>
            </div>
          </div>

          <div
            *ngIf="!inputValue && isAllOptionSelected"
            class="ngx-select__option ngx-select__option--all-options-selected">
            {{allOptionSelectedMsg}}
          </div>

          <div
            *ngIf="!inputValue && !isOptionAvailable"
            class="ngx-select__option ngx-select__option--no-option-available">
            {{noOptionAvailableMsg}}
          </div>

          <div
            *ngIf="!allowAdd && (!availableOptions || availableOptions.length === 0)"
            class="ngx-select__option ngx-select__option--no-result">
            {{noFilterResultsMsg}}
          </div>

          <div
            *ngIf="allowAdd && inputValue && (!availableOptions || availableOptions.length === 0)"
            class="ngx-select__option ngx-select__option--add-new"
            (click)="createOption()">
            {{addOptionMessage}}
          </div>
        </div>

        <!-- btns -->
        <div #dropdownBtnsDOM class="ngx-select__dropdown-btns">
          <button
            class="ngx-select__dropdown-btn"
            (click)="close()">
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
