.ngx-select {
    position: relative;

    $loader-size: 20px;

    &,
    *,
    *::before {
        box-sizing: border-box;
    }

    &__control {
        position: relative;
        display: block;
        padding: 0 70px 5px 10px;
        min-height: 40px;
        border: #aaa solid 1px;
        border-radius: 3px;
        background: #fff;
        cursor: pointer;

        &::before {
            position: absolute;
            top: 50%;
            right: 15px;
            width: 10px;
            height: 5px;
            border-top: 5px solid #000;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            content: '';
            transform: translateY(-50%);

            .ngx-select--open & {
                border-top: 0;
                border-bottom: 5px solid #000;
            }
        }
    }

    &__tags {
        display: inline-block;
    }

    &__tag {
        position: relative;
        display: inline-block;
        margin: 5px 5px 0 0;
        padding: 4px 25px 4px 4px;
        padding-left: 7px;
        background: #eee;
        font-size: 12px;

        &-remove {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 20px;
            background: #ddd;
            text-align: center;
            line-height: 25px;
            cursor: pointer;

            &:hover {
                background: #ccc;
            }

            &::after {
                content: 'x';
            }
        }
    }

    &__placeholder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        padding: 0 10px;
        color: #aaa;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 40px;
    }

    &__input {
        display: inline-block;
        margin-top: 5px;
        min-width: 10px;
        min-height: 26px;
        border: 0;
        cursor: pointer;

        &:focus {
            outline: 0;
        }

        &-fake {
            position: absolute;
            top: 10px;
            left: 10px;
            visibility: hidden;
        }
    }

    &__value {
        display: inline-block;
    }

    &__dropdown {
        position: absolute;
        top: calc(100% + 2px);
        right: 0;
        left: 0;
        z-index: 1;
        display: none;
        border: #aaa solid 1px;
        border-radius: 3px;
        background: #fff;

        .ngx-select--dropdown-up & {
            top: auto;
            bottom: calc(100% + 2px);
        }
    }

    &__option {
        padding: 2px 10px;

        &--selected,
        &--highlighted,
        &--add-new {
            display: block;
            cursor: pointer;
        }

        &--selected {
            background: #efefef;
        }

        &--highlighted,
        &--add-new {
            background: #ddd;
        }

        &--no-result {
            font-size: 14px;
        }
    }

    &__loader {
        position: absolute;
        top: 8px;
        right: 40px;
        display: none;
        border-top: ($loader-size / 10) solid rgba(255, 255, 255, 0.2);
        border-right: ($loader-size / 10) solid rgba(255, 255, 255, 0.2);
        border-bottom: ($loader-size / 10) solid rgba(255, 255, 255, 0.2);
        border-left: ($loader-size / 10) solid #000;
        text-indent: -9999em;
        font-size: 10px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        animation: load8 .4s infinite linear;

        &,
        &::after {
            width: $loader-size;
            height: $loader-size;
            border-radius: 50%;
        }

        .ngx-select--loading & {
            display: block;
        }
    }

    &--open {
        .ngx-select {
            &__control {
                border-color: #000;
            }

            &__dropdown {
                display: block;
            }
        }
    }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
