@import './scss/helpers/all';

.ngx-select {
    position: relative;

    $loader-size: 15px;

    &,
    *,
    *::before {
        box-sizing: border-box;
    }

    &__control {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        min-height: 40px;
        padding: 0 70px 0 10px;
        border: #aaa solid 1px;
        background: #fff;
        cursor: pointer;

        .ngx-select--desktop & {
            min-height: auto;
        }
    }

    &__placeholder {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        padding: 0 10px;
        transform: translateY(-50%);
        color: #aaa;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__input {
        display: none;
        width: 0;
        min-width: 10px;
        margin: 5px 0;
        border: 0;
        cursor: pointer;

        .ngx-select--desktop & {
            display: inline-block;
            vertical-align: middle;
        }

        &:focus {
            outline: 0;
        }

        &-fake {
            position: absolute;
            top: 10px;
            left: 10px;
            visibility: hidden;
        }
    }

    &__value {
        display: inline-block;
        margin: 5px 5px 5px 0;
        vertical-align: middle;
    }

    &__label {
        position: relative;
        margin: 5px 2.5px;
        padding: 4px;
        padding-left: 7px;
        background: #eee;
        font-size: 12px;

        .ngx-select--desktop & {
            padding-right: 25px;
        }

        &-btn {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 20px;
            background: #ddd;
            line-height: 25px;
            text-align: center;
            cursor: pointer;

            .ngx-select--desktop & {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &::after {
                content: 'x';
            }
        }

        &:last-of-type {
            margin-right: 5px;
        }
    }

    &__dropdown {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(color('black'), .2);
        z-index: z-index('dominant');

        .ngx-select--desktop & {
            display: none;
            position: absolute;
            top: calc(100% + 2px);
            right: 0;
            bottom: auto;
            left: 0;
            border: #aaa solid 1px;
            background: #fff;
            z-index: 1;

            .ngx-select--dropdown-up & {
                top: auto;
                bottom: calc(100% + 2px);
            }
        }

        &-body {
            position: absolute;
            top: 15px;
            right: 15px;
            bottom: 15px;
            left: 15px;

            .ngx-select--desktop & {
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }

        &-container {
            background: color('white');
        }

        &-input {
            display: block;
            width: 100%;
            min-height: 45px;
            padding: 5px 15px;
            border: 0;

            .ngx-select--desktop & {
                display: none;
            }
        }

        &-btns {
            padding: 10px 15px;
            text-align: right;

            .ngx-select--desktop & {
                display: none;
            }
        }

        &-btn {
            display: inline-block;
            padding: 10px 15px;
            border: 0;
            background: none;
            vertical-align: middle;
        }

        .ngx-select--open & {
            display: block;
        }
    }

    &__options {
        overflow-y: auto;

        .ngx-select--desktop & {
            max-height: none !important;
        }
    }

    &__option {
        position: relative;
        padding: 10px 15px;

        .ngx-select--desktop & {
            padding: 2px 10px;

            &--selected,
            &--highlighted {
                display: block;
                cursor: pointer;
            }

            &--selected {
                background: #efefef;

                .ngx-select--multiple & {
                    display: none;
                }
            }

            &--highlighted {
                background: #ddd;
            }
        }

        &--all-options-selected {
            display: none;

            .ngx-select--desktop & {
                display: block;
            }
        }

        &-mark {
            position: absolute;
            top: 50%;
            right: 15px;
            width: 20px;
            height: 20px;
            transform: translateY(-50%);
            border: color('alto') solid 1px;

            .ngx-select--desktop & {
                display: none;
            }

            .ngx-select--multiple & {
                &--selected {
                    border-color: color('dusty-gray');

                    &::after {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 5px;
                        height: 10px;
                        transform: translate(-50%, -50%) rotate(45deg);
                        border: solid color('dusty-gray');
                        border-width: 0 2px 2px 0;
                        content: '';
                    }
                }
            }

            .ngx-select--single & {
                border-radius: 50%;

                &--selected {
                    border-color: color('dusty-gray');

                    &::after {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 10px;
                        height: 10px;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        background: color('dusty-gray');
                        content: '';
                    }
                }
            }
        }
    }

    &__message {
        padding: 10px 15px;
        font-size: 14px;

        .ngx-select--desktop & {
            padding: 2px 10px;
        }
    }

    &__loader {
        display: none;
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translate3d(0, -50%, 0);
        border-top: ($loader-size / 10) solid rgba(255, 255, 255, .2);
        border-right: ($loader-size / 10) solid rgba(255, 255, 255, .2);
        border-bottom: ($loader-size / 10) solid rgba(255, 255, 255, .2);
        border-left: ($loader-size / 10) solid #000;
        font-size: 10px;
        text-indent: -9999em;

        animation: load8 .4s infinite linear;

        &,
        &::after {
            width: $loader-size;
            height: $loader-size;
            border-radius: 50%;
        }

        .ngx-select--loading & {
            display: block;
        }
    }
}

@keyframes load8 {
    0% {
        transform: translate3d(0, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, -50%, 0) rotate(360deg);
    }
}

.body {
    &--ngx-selext-open {
        @media (max-width: 768px) {
            overflow-y: hidden;
        }
    }
}
